@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=IBM+Plex+Sans:wght@600&family=Kanit:wght@300&family=Merriweather&family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Oswald:wght@400;600;700&family=Pacifico&family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Sigmar&display=swap');

:root{
    --black:#000;
    --grey: #cfcfcf;
    --darkmid: #1e272e;
    --whitebg: #fff;
    --modalbg:#2c3e50;
}

.row{
    align-items: end;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select option::selection{
    background: #1e272e;
}


.darkbg, .navbar-dark{
    background:var(--darkmid) ;
}


.j-between{
    justify-content: space-between;
    width: 100%;
}
.square{
    width: 18rem;
    height: 10rem;
    background-color: #05c46b;
    margin: 2rem;
    border: 0.2rem solid var(--black);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem var(--black);
    transition: all ease-in-out 0.5s;
    opacity: 0.5;
    scale: 0.8;
    color: var(--whitebg);
    text-align: center;
    overflow: hidden;
    font-family: 'Pacifico', cursive; /*! Definindo a fonte do Texto dentro do square*/
    position: relative;
}
.square:hover{
    box-shadow: 0.5rem 0.5rem var(--grey) ;
    scale: 1;
    opacity: 1;
    cursor: pointer;
}
.nullTable{
    text-align: center;
    opacity:0.7;
}
.toRight{
    display: flex;
    justify-content: right;
    align-items: start;
    position: absolute;
    right: 0;
    bottom: 0;
}
.material-icons{
    font-size: 8rem;
}
#companyIcon{
    font-size: 3rem;
    margin-top: 1.2rem;

}
.span-num:nth-child(1){
    font-size: 2rem;
}
.linkLead{
    font-size: 1.5rem;
}
.cadLink{
    font-size: 1rem;
    text-decoration: underline;
    color: var(--darkmid);
    z-index: -1;
}
.trashcan{
    background: none;
    border: none;
}

.modal-custom{
    background: var(--grey);
}

.dataTables_wrapper .dataTables_filter input {
    width: 30rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--black);
  }
  .dataTables_wrapper .dataTables_filter input:focus {
    outline: 0.1rem solid var(--grey);
  }

  .largerSpace{
    padding: 1rem;
  }

 